<header class="main-header">
    <h1 class="main-header__title">
        <span class="main-header__title--blue">Guerra</span><span class="main-header__title--orange">Computers</span>
    </h1>
    <div class="container-menu">
        <nav class="main-header__menu">
            <ul>
                <li>
                    <a routerLink="/produtos">Produtos</a>
                </li>
                <li>
                    <a routerLink="/carrinho" class="carrinho-ctn" routerLink ="/carrinho" >
                        <i class="fa-solid fa-cart-shopping"></i>
                        <p>Carrinho </p>            
                    </a>                
                </li>
                <li><a routerLink="/contato">Contato</a></li>
                <li><a href=""><i class="fa-brands fa-facebook"></i></a></li>
                <li><a><i class="fa-brands fa-instagram"></i></a></li>
                <li><a><i class="fa-brands fa-twitter"></i></a></li>
                <li><a><i class="fa-brands fa-linkedin"></i></a></li>
                <li>
                    <a href=""></a>
                </li>
                <li>
                    <a href=""></a>
                </li>
            </ul>
        </nav>
        <app-barra-de-pesquisa></app-barra-de-pesquisa>
        
    </div>
</header>
