<h2 class="contact__title">Entre em contato</h2>
<section class="contact__container">
    <form class="contact-form">
        <input type="text" placeholder="digite o seu nome">
        <input type="assunto" placeholder="digite o assunto">
        <input type="tel" placeholder="(00)0 0000-0000">
        <input type="email" placeholder="digite o seu email">
        <textarea maxlength="300" placeholder="digite a sua mensagem"></textarea>
        <button>Enviar</button>
    </form>
    <address>
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3658.6109982323355!2d-46.66803405920795!3d-23.51051697892292!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94cef7f0b247f387%3A0x59dad1882365ab38!2sAv.%20Ordem%20e%20Progresso%2C%201190%20-%2034%202%20c%20-%20Jardim%20das%20Laranjeiras%2C%20S%C3%A3o%20Paulo%20-%20SP%2C%2002518-130!5e0!3m2!1sen!2sbr!4v1717526299889!5m2!1sen!2sbr" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        <p>Avenida Ordem e Progresso, no 1190, AP 34, Bloco 2-C, Jardim das Laranjeiras, São Paulo, CEP 02518-130</p>

    </address>
</section>
